.newPost {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-600);
  border-radius: 16px;
  padding: 1.5rem;

  h2 {
    font-size: 1.375rem;
    margin-bottom: 1.5rem;
  }
}

.titleInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 0.5rem;

  input {
    padding: 0.5rem 0.625rem;
    border: 1px solid var(--gray-600);
    border-radius: 8px;
  }
}

.contentInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 0.5rem;

  textarea {
    resize: vertical;
    width: 100% !important;
    height: 74px;
    padding: 0.5rem 0.625rem;
    border: 1px solid var(--gray-600);
    border-radius: 8px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;

  button {
    margin-top: 1rem;
    background-color: var(--blue);
    border: none;
    font-weight: 700;
    color: white;
    padding: 0.425rem 1.875rem;
    border-radius: 8px;
    transition: all 0.2s;

    &:not(.disableButton):hover {
      filter: brightness(1.15);
    }
  }
}

.disableButton {
  background-color: var(--gray-600) !important;
  cursor: not-allowed
}