.postContainer {
  display: flex;
  flex-direction: column;

}

.postHeader {
  display: flex;
  justify-content: space-between;
  border-radius: 16px 16px 0 0;
  background-color: var(--blue);

  h2 {
    padding: 1.5rem;
    font-size: 1.375rem;

    color: white
  }
}

.options {
    display: flex;
    padding: 1.3rem;
    gap: 1.5rem;
    line-height: 0;
    
    svg {
      color: white;
      transition: all .2s;
    }
  }

.postContent {
  border: 1px solid var(--gray-700);
  border-top: none;
  border-radius: 0 0 16px 16px;
  padding: 1.5rem;
  font-size: 1.125rem;
}

.postInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: var(--gray-600);

  :first-child {
    font-weight: 700;
  }
}
