.deleteDialogOverlay {
  background-color: var(--gray-600);
  filter: opacity(70%);
  position: fixed;
  inset: 0;
}

.deleteDialogTrigger {
  border: none;
  background-color: inherit;
  line-height: 0;

  svg {
    &:hover{
      color: var(--red);
      filter: brightness(1);
      cursor: pointer
    }
  }
}

.deleteDialogContent {
  background-color: white;
  border-radius: 16px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 660px;
}
.deleteDialogContent:focus {
  outline: none;
}

.deleteDialogTitle {
  font-weight: 700;
  padding: 2.3rem 1.5rem 0.8rem !important;
  color: black !important;
  margin-bottom: 2.5rem;
}

.deleteDialogButtons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0 1.5rem 1.5rem 0;
}

.deleteDialogCancelButton {
  width: 120px;
  height: 32px;
  font-weight: bold;
  background-color: white;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  transition: all 0.2s;

  &:hover {
    background-color: var(--gray-500);
  }
}

.deleteDialogDeleteButton {
  width: 120px;
  height: 32px;
  font-weight: bold;
  color: white;
  background-color: var(--red);
  border: none;
  border-radius: 8px;
  transition: all 0.2s;

  &:hover {
    background-color: white;
    border: 1px solid var(--red);
    color: var(--red)
  }
}
