.pageContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 800px;
}

.header {
  width: 100%;
  padding: 1.75rem 2.25rem;
  background-color: var(--blue);
  
  h1 {
    font-size: 1.375rem;
    font-weight: 700;
    color: white;
  }
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.5rem;
  gap: 1.5rem;
}